@import helper._

<!DOCTYPE HTML>
<html>
	<head>
		<meta http-equiv="content-type" content="text/html"; charset=utf-8" />
		<title>Tashjik simulator</title>
		<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
        <script src="@routes.Assets.at("javascripts/jquery-1.9.0.min.js")" type="text/javascript"></script>
        <script src="http://js.pusher.com/2.1/pusher.min.js" type="text/javascript"></script>
  		<script type="text/javascript">
    		// Enable pusher logging - don't include this in production
    		Pusher.log = function(message) {
      			if (window.console && window.console.log) {
        			window.console.log(message);
      			}
    		};

    		var pusher = new Pusher('1ddc5a4134a76a2eaba6');
    		var channel = pusher.subscribe('test_channel');
    		channel.bind('my_event', function(data) {
      			alert(data.message);
    		});
  </script>
	</head>
	<body>
		<h1>Tashjik simulator</h1>
		<form id=simConfigForm" action=@routes.Application.startSim method="post" >
			<table>
				<tr>
					<td>Node count: <input type="text" name="nodeCount" value=20 ></td>
					<td><input type="submit" class="btn primary" name="submitSimConfig" ><td>
					
				</tr>
			</table>
		</form>
	</body>
</html>    

